

h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type='text'],
  input[type='date'] {
    width: 250px;
    margin: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  